
.head {
    height: 60px;
    width: 100%;
    margin: 0;
    background: #868585;
}

.head-title {
    color: white;
    margin-left: 5%;
    text-decoration-line: none;
    font-size: 22px;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}

. container {
    height: 60px;
    width: 100%;
}

.center {
    margin: 0 auto;
    width: 80%;
}

.page-title {
    background: #868585;
    color: white;
    border-radius: 5px;
    padding-left: 1%;
}

.stat-container {
    margin: 10px auto;
    width: 100%;
    height: 100px;
}

.stat-holder {
    border: solid 1px #868585;
    width: 40%;
    float: left;
    margin-left: 6.5%;
    border-radius: 10px;
}

.stat-holder div {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
}

.cancel-left {
    clear: left;
}

.stat-holder p {
    font-size: 20px;
}

.widget-header {
    width: 100%;
    height: 40px;
    background-color: #868585;
    line-height: 100%;
    margin-bottom: 10px;
}

.widget-header select {
    float: right;
}

.widget-header * {
    margin-left: 10px;
    margin-top: 12px;
}

.content, .content div {
    width:100%;
}
.content div {
    border-bottom: dotted 1px #4A515B;
    margin-bottom: 10px;
}
.content span {
    margin-right: 2%;
}


.window {
    position: fixed !important;
    width: 600px;
    height: 350px;
    top:10%;
    left: 27%;
    background: white !important;
    border-radius: 14px;
    z-index:999;
}

.window-img {
    border: 0px;
    height: 100%;
    width: 100%;
}

/*.order{*/
    /*border-radius: 5px;*/
    /*!*Chrome和Firefox里面的边框是不一样的，所以复写了一下*!*/
    /*border: none;*/

    /*!*很关键：将默认的select选择框样式清除*!*/
    /*appearance:none;*/
    /*-moz-appearance:none;*/
    /*-webkit-appearance:none;*/

    /*!*在选择框的最右侧中间显示小箭头图片*!*/
    /*background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;*/


    /*!*为下拉小箭头留出一点位置，避免被文字覆盖*!*/
    /*padding-right: 14px;*/
/*}*/

/*.order:hover {*/
    /*background-color: #555555;*/
/*}*/


.order{
    border: none;/*将<a></a>相对定位*/
    position:relative;
    width:100px;
    height:25px;
    background:#868585;
    border-radius: 5px;
    display:inline-block;
    text-decoration: none;
}
.order:hover{         /*添加hover效果*/
    background:#555555;
}
.order select{        /*以相同大小将<select></select>绝对定位*/
    top:0px;
    left:0px;
    position:absolute;
    width:100px;
    height:25px;
    opacity:0;
}
.order select option[selected]{
    font-weight:bold
}
.order select option:nth-child(even) {
    background-color:#A7DAEF;
}
.order select option{
    color:#EA5400;
}
.order span{     /*显示内容*/
    position: absolute;
    top:3px;
    left:5px;
    right: 20px;
    display: inline-block;
    color:#fff;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.order img{          /*箭头图标*/
    display: inline-block;
    position: absolute;
    top:2px;
    right: 5px;
}



















